@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Urbanist", sans-serif;
  color: #012332;
  background-color: #ffffff;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer components {
  .btn-primary {
    @apply bg-primary text-secondary p-4 w-full  rounded-md text-sm hover:opacity-90 transition-opacity;
  }
}

.bg-light {
  background-color: hsla(0, 0%, 100%, 1);
  background-image: radial-gradient(
      at 0% 100%,
      hsla(189, 100%, 56%, 0.27) 0px,
      transparent 50%
    ),
    radial-gradient(at 29% 67%, hsla(240, 0%, 100%, 1) 0px, transparent 50%);
}

/* .active {
  @apply bg-black;
} */

.link {
  @apply p-5 gap-2 md:cursor-pointer cursor-default duration-300 font-medium flex rounded-md items-center  hover:bg-teriary hover:bg-opacity-40;
}
